<!-- get in touch -->
<section class="get-touch pt-4 pb-4">
  <section class="container">
    <div class="row">
      <h3 class="col-sm col-md-7 text-white mb-0 justify-content-center">{{ 'goAhead' | translate }}</h3>
      <div class="col-sm col-md-5 text-right" id="getInTouch">
        <button type="button" class="btn btn-outline-light rounded-0 pt-2 pb-2">{{ 'getInTouch' | translate }}</button>
      </div>
    </div>
  </section>
</section>
<!-- footer -->
<footer>
  <section class="container">
    <div class="row">
      <div class="col-sm col-md-6 col-lg-3">
        <h4 class="text-uppercase font-weight-bold">
          {{ 'aboutUs' | translate }}
        </h4>
        <p>{{ 'footerAboutDetails' | translate }}</p>
      </div>
      <div class="col-sm col-md-6 col-lg-3">
        <h4 class="text-uppercase font-weight-bold">
          {{ 'footerLinkesTitle' | translate }}
        </h4>
        <h5><span></span> {{ 'footerLinkesnum1' | translate }}</h5>
        <h5><span></span> {{ 'footerLinkesnum2' | translate }}</h5>
        <h5><span></span> {{ 'footerLinkesnum3' | translate }}</h5>
        <h5><span></span> {{ 'footerLinkesnum4' | translate }}</h5>
        <h5><span></span> {{ 'footerLinkesnum5' | translate }}</h5>
      </div>
      <div class="col-sm col-md-6 col-lg-3">
        <h4 class="text-uppercase font-weight-bold">
          {{ 'footerNewsTitle' | translate }}
        </h4>
        <h5><span></span>  {{ 'footerNewsnum1' | translate }}</h5>
        <h5><span></span> {{ 'footerNewsnum2' | translate }}</h5>
        <h5><span></span> {{ 'footerNewsnum3' | translate }}</h5>
        <h5><span></span> {{ 'footerNewsnum4' | translate }}</h5>
        <h5><span></span> {{ 'footerNewsnum5' | translate }}</h5>
      </div>
      <div class="col-sm col-md-6 col-lg-3">
          <h4 class="text-uppercase font-weight-bold">
            {{ 'getInTouch' | translate }}
            </h4>
        <p>{{ 'footerTouchDetails' | translate }}</p>
        <h5><span class="mr-1"></span> {{ 'footerTouchAddress' | translate }}</h5>
        <h5><span class="mr-1"></span> +00 (123) 456 78 90</h5>
        <h5><span class="mr-1"></span> info@yourcompany.com</h5>
      </div>
    </div>
  </section>
</footer>
<section class="last">
  <section class="container">
      <h5 class="text-white text-center mb-0">Made with
          <span>&hearts;</span> by Revolthemes.net All Rights Reserved
      </h5>
  </section>
</section>