<div class="blue-bg">
  <section class="container">
    <div class="row">
      <h3 class="text-uppercase text-white col-6">{{ 'blog' | translate }}</h3>
      <span class="text-uppercase text-white text-right col-6">{{ 'Home > Blog' | translate }}</span>
    </div>
  </section>
</div>
<section class="container">
  <div class="news row">
    <div class="left-news col-sm col-md-8">
      <section class="multi-news mb-5">
        <div class="news-img position-relative mb-4">
          <div class="date position-absolute text-white p-2 pt-2 pb-2">
            <span class="text-uppercase d-block">{{ 'date' | translate }}</span>
            <span>March 24, 2015</span>
          </div>
        </div>
        <h3 class="font-weight-bold">{{ 'newsTitle1' | translate }}</h3>
        <p>{{ 'newsPara' | translate }}</p>
        <div class="text-right">
          <button type="submit" class="btn text-uppercase text-white font-weight-bold rounded-0">{{ 'readMore' | translate }}</button>
        </div>
      </section>
      <section class="multi-news mb-5">
        <div class="news-img position-relative mb-4">
          <div class="date position-absolute text-white p-2 pt-2 pb-2">
            <span class="text-uppercase d-block">{{ 'date' | translate }}</span>
            <span>March 24, 2015</span>
          </div>
        </div>
        <h3 class="font-weight-bold">{{ 'newsTitle2' | translate }}</h3>
        <p>{{ 'newsPara' | translate }}</p>
        <div class="text-right">
          <button type="submit" class="btn text-uppercase text-white font-weight-bold rounded-0">{{ 'readMore' | translate }}</button>
        </div>
      </section>
      <section class="multi-news mb-4 ">
        <div class="news-img position-relative mb-4">
          <div class="date position-absolute text-white p-2 pt-2 pb-2">
            <span class="text-uppercase d-block">{{ 'date' | translate }}</span>
            <span>March 24, 2015</span>
          </div>
        </div>
        <h3 class="font-weight-bold">{{ 'newsTitle3' | translate }}</h3>
        <p>{{ 'newsPara' | translate }}</p>
        <div class="text-right">
          <button type="submit" class="btn text-uppercase text-white font-weight-bold rounded-0">Read More</button>
        </div>
      </section>
      <div class="arrows d-flex justify-content-end mb-5">
          <span class="text-right text-white pl-2 pr-2 mr-2">2</span>
          <span class="text-right text-white pl-2 pr-2"></span>
        </div>
    </div>
    <div class="right-news col-sm col-md-4">
      <div class="search mb-4">
        <input type="search" class="form-control rounded-0 font-italic position-relative" placeholder="Searching">
        <span class="position-absolute"></span>
      </div>
      <div class="recent-posts mb-4">
        <h4 class="text-uppercase font-weight-bold mb-4">
          recent posts
        </h4>
        <ul class="list-unstyled">
          <li class="media">
            <img src="../../assets/img/Rectangle22.png" class="mr-3">
            <div class="media-body">
              <p class="mt-0 mb-1">There is no good blog without tim great readability is very importent</p>
              <h6 class="font-weight-bold">Viral polaroid ugh</h6>
            </div>
          </li>
          <li class="media my-4">
            <img src="../../assets/img/Rectangle22.png" class="mr-3">
            <div class="media-body">
              <p class="mt-0 mb-1">6 Reasons to Attend Elevate New York 2015
                events one way oft the development</p>
              <h6 class="font-weight-bold">labitur qui</h6>
            </div>
          </li>
          <li class="media">
            <img src="../../assets/img/Rectangle22.png" class="mr-3">
            <div class="media-body">
              <p class="mt-0 mb-1">User Experience As A Ranking Signal Is
                Currently Only For Mobile Results,</p>
              <h6 class="font-weight-bold">Viral polaroid ugh</h6>
            </div>
          </li>
          <li class="media my-4">
            <img src="../../assets/img/Rectangle22.png" class="mr-3">
            <div class="media-body">
              <p class="mt-0 mb-1">When you start with what’s at stake for
                the right to their attention</p>
              <h6 class="font-weight-bold">Ei his nonumes</h6>
            </div>
          </li>
        </ul>
      </div>
      <div class="latest-projects mb-4 ">
        <h4 class="text-uppercase font-weight-bold mb-4">
          latest projects
        </h4>
        <div class="project-img row ">
          <div class="item col-6 mb-4">
            <img src="../../assets/img/Rectangle23.png" alt="">
          </div>
          <div class="item col-6 mb-4">
            <img src="../../assets/img/Rectangle23.png" alt="">

          </div>
          <div class="item col-6">
            <img src="../../assets/img/Rectangle23.png" alt="">

          </div>
          <div class="item col-6">
            <img src="../../assets/img/Rectangle23.png" alt="">

          </div>
        </div>
      </div>
      <div class="categories">
        <h4 class="text-uppercase font-weight-bold mb-4">
          blog categories
        </h4>
        <h5><span></span> Building</h5>
        <h5><span></span> Company</h5>
        <h5><span></span> Design</h5>
        <h5><span></span> Press</h5>
        <h5><span></span> Tips</h5>
      </div>
    </div>
  </div>
</section>