<!-- hero section -->
<section class="hero_sec text-white text-center">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <h1 class="text-uppercase">{{ 'hero1' | translate }}</h1>
        <p class="mb-4">{{ 'content' | translate }}</p>
        <button class="btn btn-outline-light text-uppercase rounded-0 p-2 pl-4 pr-4">{{ 'about us' | translate }}</button>
      </div>
      <div class="carousel-item">
        <h1 class="text-uppercase">{{ 'hero2' | translate }}</h1>
        <p class="mb-4">{{ 'content' | translate }}</p>
        <button class="btn btn-outline-light text-uppercase rounded-0 p-2 pl-4 pr-4">{{ 'hero2' | translate }}</button>
      </div>
      <div class="carousel-item">
        <h1 class="text-uppercase">{{ 'hero3' | translate }}</h1>
        <p class="mb-4">{{ 'content' | translate }}</p>
        <button class="btn btn-outline-light text-uppercase rounded-0 p-2 pl-4 pr-4">{{ 'hero3' | translate }}</button>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>
<!-- services section -->
<section class="services">
  <section class="container">
    <div class="row text-center">
      <div class="col-sm col-md-6 col-lg-4 mb-md-5">
        <span></span>
        <h3 class="text-uppercase">{{ 'paraHead1' | translate }}</h3>
        <p>{{ 'paraContent' | translate }}</p>
      </div>
      <div class="col-sm col-md-6 col-lg-4 mb-md-5">
        <span></span>
        <h3 class="text-uppercase">{{ 'paraHead2' | translate }}</h3>
        <p>{{ 'paraContent' | translate }}</p>
      </div>
      <div class="col-sm col-md-6 col-lg-4 mb-md-5">
        <span></span>
        <h3 class="text-uppercase">{{ 'paraHead3' | translate }}</h3>
        <p>{{ 'paraContent' | translate }}</p>
      </div>
      <div class="col-sm col-md-6 col-lg-4">
        <span></span>
        <h3 class="text-uppercase">{{ 'paraHead4' | translate }}</h3>
        <p>{{ 'paraContent' | translate }}</p>
      </div>
      <div class="col-sm col-md-6 col-lg-4">
        <span></span>
        <h3 class="text-uppercase">{{ 'paraHead5' | translate }}</h3>
        <p>{{ 'paraContent' | translate }}</p>
      </div>
      <div class="col-sm col-md-6 col-lg-4">
        <span></span>
        <h3 class="text-uppercase">{{ 'paraHead6' | translate }}</h3>
        <p>{{ 'paraContent' | translate }}</p>
      </div>
    </div>
  </section>
</section>
<!-- recent projects section -->
<section class="projects">
  <section class="container">
    <h3 class="text-uppercase">{{ 'recentProject' | translate }}</h3>
    <div class="row">
      <div class="col-sm col-md-4">
        <div class="project_item mb-3">
          <div class="overlay">
            <span class="text-white"></span>
          </div>
        </div>
      </div>
      <div class="col-sm col-md-4">
        <div class="project_item mb-3">
          <div class="overlay">
            <span class="text-white"></span>
          </div>
        </div>
      </div>
      <div class="col-sm col-md-4">
        <div class="project_item mb-3">
          <div class="overlay">
            <span class="text-white"></span>
          </div>
        </div>
        <div class="arrows d-flex justify-content-end">
          <span class="text-right text-white pl-2 pr-2 mr-2"></span>
          <span class="text-right text-white pl-2 pr-2"></span>
        </div>
      </div>
    </div>
  </section>
</section>
<!-- numbers section -->
<section class="numbers">
  <section class="container">
    <div class="row text-center text-white">
      <div class="col-sm col-md-3">
        <h2 class="font-weight-bold">456</h2>
        <p class="text-uppercase">{{ 'happyClient' | translate }}</p>
      </div>
      <div class="col-sm col-md-3">
        <h2 class="font-weight-bold">56</h2>
        <p class="text-uppercase">{{ 'projects' | translate }}</p>
      </div>
      <div class="col-sm col-md-3">
        <h2 class="font-weight-bold">456</h2>
        <p class="text-uppercase">{{ 'happyClient' | translate }}</p>
      </div>
      <div class="col-sm col-md-3">
        <h2 class="font-weight-bold">456</h2>
        <p class="text-uppercase">{{ 'happyClient' | translate }}</p>
      </div>
    </div>
  </section>
</section>
<!-- blog section -->
<section class="blog">
  <section class="container">
    <h3 class="text-uppercase">{{ 'fromBlog' | translate }}</h3>
    <div class="row">
      <div class="media col-sm-12 col-md-12 col-lg-6 mb-3">
        <div class="blog-item">
            <img src="../../assets/img/Rectangle36.png" class="w-100 img-fluid">
        </div>
        <div class="media-body">
          <span class="font-italic">23 oct 2015</span>
          <p>{{ 'content2' | translate }}</p>
          <h6 class="text-uppercase text-right font-weight-bold">{{ 'readMore' | translate }}</h6>
        </div>
      </div>
      <div class="media col-sm-12 col-md-12 col-lg-6">
        <div class="blog-item">
            <img src="../../assets/img/Rectangle36.png" class="w-100 img-fluid">
        </div>
        <div class="media-body mb-3">
          <span class="font-italic">23 oct 2015</span>
          <p>{{ 'content2' | translate }}</p>
          <h6 class="text-uppercase text-right font-weight-bold">{{ 'readMore' | translate }}</h6>
        </div>
      </div>
    </div>
    <div class="arrows d-flex justify-content-end">
        <span class="text-right text-white pl-2 pr-2 mr-2"></span>
        <span class="text-right text-white pl-2 pr-2"></span>
      </div>
  </section>
</section>